<!DOCTYPE html>
   <html ng-app="mainApp">
     <head>

    <title>Rnode User Authentication</title>
    <base href="/" />

    <script type="text/javascript" src="/lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/lib/bootstrap/dist/js/bootstrap.js"></script>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css"></link>

   <script src="/socket.io/socket.io.js"></script>
    
     </head>
     <body>
     <div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                    <p>
                        <strong>id</strong>: <%= user.id %><br>
                        <strong>email</strong>: <%= user.email %><br>
                        <strong>password</strong>: <%= user.password %>
                    </p>

            </div>
        </div>

    </div>

</div>


     </body>
</html>
